In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
semaforos_df = pd.read_csv("../data/raw/lista-de-semaforos.csv")

equip_med_vel_df = pd.read_csv("../data/raw/equipamentos-de-medicao-de-velocidade.csv")

equip_fisc_df = pd.read_csv("../data/raw/equipamentos-fiscalizacao.csv")

equip_fisc_df.head()

,_id,equipamento,tipo,logradouro,velocidade_via,latitude,longitude
0,1,5941,Lombada,"AV. MAL. MASCARENHAS DE MORAES, EM FRENTE AERO...",60 km/h,-8.130970,-34.916161
1,2,5942,Lombada,"AV. MAL. MASCARENHAS DE MORAES, EM FRENTE AERO...",60 km/h,-8.130647,-34.915886
2,3,5943,Lombada,AV. BOA VIAGEM - TERCEIRO JARDIM,60 km/h,-8.107843,-34.888161
3,4,5944,Lombada,"DEFRONTE A PCA. GOV. PAULO GUERRA, CABANGA - S...",60 km/h,-8.080121,-34.892187
4,5,5945,Lombada,"APOS PONTE AGAMENON MAGALHAES, CABANGA - SENT....",60 km/h,-8.080820,-34.891159